#
# ~/.gitignote
#
## archive ##
*.zip
*.lzh
*.tar.gz
*.tgz
*.bz2
*.dmg

## Compiled object files ##
*.slo
*.lo
*.o
*.obj

## Compiled Dynamic libraries ##
*.so
*.dylib
*.dll

## Compiled Static libraries ##
*.lai
*.la
*.a
*.lib

## Executables ##
*.exe
*.out
*.app

## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
# Icon must ends with two \r.
# ↓コピペだと正しく設定できないかも。
Icon
tags



## version control system ##
.git/
.hg/
.svn/

## backup,log ##
*~
~*
*.swp
.swp.*
*.tmp
*.bak
*.old
*.log
.cache/
*.autosave

## Vim ##
*.un~
Session.vim
.netrwhist

## netbeans ##
nbproject/
## intellij idea ##
.idea/
## eclipse ##
.settings/
.project
.classpath
.buildpath
## XCode ##
*.xcodeproj/*

## Build dir ##
build/
### https://raw.github.com/github/gitignore/b8da0e3a89f5d75acdb9d5fed06700bfff3695f9/Global/emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
recentf
projectile-bookmarks.eld

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
*.dat


