#
# .gitconfig
#
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim
    # Unicode
  precomposeunicode = true
  quotepath = true
[include]
  path = ~/.gitconfig_local
[push]
    # simple,matching,upstream,current
  default = simple
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[diff]
  patience = true
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[help]
  autocorrect = 0
[alias]
  co = checkout
  cm = commit
  ps = push
  ft = fetch
  br = branch
  brc = "!f () { git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  dif = diff
  ce = commit -v --amend
  st = status --branch --short
  si = status --ignored --short
  branches = branch -a
  remotes = remote -v
  tags = tag -l
  lg = log --graph --all --decorate --abbrev-commit --branches --date=short --pretty=format:\"%C(red)%h%C(reset) %C(green)[%ad]%C(reset) %s %C(cyan)@%an%C(reset) %C(yellow)%d%C(reset)\"
  fp = fetch --prune
  dh = diff --histogram
  dw = diff --word-diff
  dc = diff --cached
  wc = whatchanged
  tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[a-z]"

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
